services:
    mysql:
        image: mysql:8.4
        container_name: mysql
        environment:
            MYSQL_DATABASE: micrologs
            MYSQL_USER: spec
            MYSQL_PASSWORD: spec
            MYSQL_ROOT_PASSWORD: root
        ports:
            - "3357:3306"
        healthcheck:
            test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
            interval: 5s
            timeout: 3s
            retries: 5

    rabbitmq:
        image: rabbitmq:4.1.6-management-alpine
        ports:
            - "5672:5672"
            - "15672:15672"
        environment:
            RABBITMQ_DEFAULT_USER: admin
            RABBITMQ_DEFAULT_PASS: admin
        healthcheck:
            test: ["CMD", "rabbitmq-diagnostics", "check_port_connectivity"]
            interval: 10s
            timeout: 5s
            retries: 5

    cassandra:
        image: cassandra:5.0.6-jammy
        ports:
            - "9042:9042"
        environment:
            CASSANDRA_CLUSTER_NAME: "microcluster"
            CASSANDRA_NUM_TOKENS: 16
            CASSANDRA_START_RPC: "true"
            MAX_HEAP_SIZE: 1G
            HEAP_NEW_SIZE: 256M
            CASSANDRA_LISTEN_ADDRESS: cassandra
            CASSANDRA_BROADCAST_ADDRESS: cassandra
            CASSANDRA_RPC_ADDRESS: 0.0.0.0
            CASSANDRA_BROADCAST_RPC_ADDRESS: cassandra
            CASSANDRA_ENDPOINT_SNITCH: GossipingPropertyFileSnitch
        healthcheck:
            test: ["CMD-SHELL", "nodetool status | grep -q '^UN'"]
            interval: 20s
            timeout: 10s
            retries: 5
        volumes:
            - ./cassandra-props/cassandra-rackdc.properties:/etc/cassandra/cassandra-rackdc.properties

    consul:
        image: consul:1.15.4
        command: agent -server -bootstrap -ui -client=0.0.0.0
        ports:
            - "8500:8500"
            - "8600:8600/udp"
        healthcheck:
            test:
                ["CMD", "curl", "-f", "http://localhost:8500/v1/status/leader"]
            interval: 10s
            timeout: 3s
            retries: 5
            start_period: 5s
        environment:
            CONSUL_BIND_INTERFACE: eth0

    apigateway:
        image: gateway:latest
        container_name: gateway
        ports:
            - "8080:8080"
        environment:
            SPRING_PROFILES_ACTIVE: docker
            SERVER_PORT: 8080
        depends_on:
            mysql:
                condition: service_healthy
            consul:
                condition: service_healthy

    auth:
        image: auth:latest
        container_name: auth
        ports:
            - "8081:8080"
        environment:
            SPRING_PROFILES_ACTIVE: docker
        depends_on:
            mysql:
                condition: service_healthy
            consul:
                condition: service_healthy
            cassandra:
                condition: service_healthy

    notification:
        image: notification:latest
        container_name: notification
        ports:
            - "8084:8080"
        environment:
            SPRING_PROFILES_ACTIVE: docker
        depends_on:
            mysql:
                condition: service_healthy
            consul:
                condition: service_healthy
    # article:
    #     image: article:latest
    #     container_name: article
    #     ports:
    #         - "8082:8082"
    #     environment:
    #         SPRING_PROFILES_ACTIVE: docker
    #         SERVER_PORT: 8082
    #     depends_on:
    #         mysql:
    #             condition: service_healthy
    #         consul:
    #             condition: service_healthy
