services:
    mysql:
        image: mysql:8.4
        container_name: mysql
        environment:
            MYSQL_DATABASE: micrologs
            MYSQL_USER: spec
            MYSQL_PASSWORD: spec
            MYSQL_ROOT_PASSWORD: root
        ports:
            - "3357:3306"
        healthcheck:
            test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
            interval: 5s
            timeout: 3s
            retries: 10

    consul:
        image: consul:1.15.4
        command: agent -server -bootstrap -ui -client=0.0.0.0
        ports:
            - "8500:8500"
            - "8600:8600/udp"
        healthcheck:
            test:
                ["CMD", "curl", "-f", "http://localhost:8500/v1/status/leader"]
            interval: 10s
            timeout: 3s
            retries: 5
            start_period: 5s
        environment:
            CONSUL_BIND_INTERFACE: eth0

    auth:
        image: auth:latest
        container_name: auth
        ports:
            - "8081:8080"
        environment:
            SPRING_PROFILES_ACTIVE: docker
        depends_on:
            mysql:
                condition: service_healthy
            consul:
                condition: service_healthy
