services:
  mysql:
    image: mysql:8.4
    container_name: mysql
    environment:
      MYSQL_DATABASE: micrologs
      MYSQL_USER: spec
      MYSQL_PASSWORD: spec
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3357:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 3s
      retries: 10

  auth:
    image: auth:latest
    container_name: auth
    ports:
      - "8081:8080"
    environment:
      SPRING_PROFILES_ACTIVE: docker
    depends_on:
      mysql:
        condition: service_healthy