.article-page {
    display: flex;
    width: 100%;
    min-height: 100vh;

    background-color: var(--background);
}

.article-left {
    width: 30%;
}

.article-center {
    width: 100%;
}

.article-right {
    width: 30%;
}
