.navbar {
    position: fixed;
    width: 100%;
    background-color: white;
    top: 0;

    display: flex;
    align-items: center;
    min-height: 50px;
}

.nav-buttons {
    margin-left: auto;
    display: flex;
}
