.navbar {
    position: fixed;
    width: 100%;
    background-color: var(--background-second);
    color: var(--primary-text);
    top: 0;

    display: flex;
    align-items: center;
    min-height: 60px;

    box-sizing: border-box;
    text-decoration: none;
    padding: 0 32px 0 32px;
}

a,
a:visited,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    color: inherit;
}

.nav-buttons {
    margin-left: auto;
    display: flex;
}

.logo {
    font-weight: bolder;
    font-size: 1.5rem;
}
