apiVersion: apps/v1
kind: Deployment
metadata:
    name: auth-deployment

spec:
    replicas: 1
    selector:
        matchLabels:
            app: auth-deployment

    strategy:
        type: RollingUpdate
        rollingUpdate:
            maxSurge: 2

    template:
        metadata:
            labels:
                app: auth-deployment
        spec:
            containers:
                - name: auth
                  image: auth:latest

                  imagePullPolicy: IfNotPresent
                  # resources:
                  #     limits:
                  #         memory: "128Mi"
                  #         cpu: "500m"
                  ports:
                      - containerPort: 8080
                  envFrom:
                      - configMapRef:
                            name: auth-configmap
