apiVersion: apps/v1
kind: Deployment
metadata:
    name: gateway-deployment

spec:
    replicas: 1
    selector:
        matchLabels:
            app: gateway-deployment

    strategy:
        type: RollingUpdate
        rollingUpdate:
            maxSurge: 2

    template:
        metadata:
            labels:
                app: gateway-deployment
        spec:
            containers:
                - name: gateway
                  image: gateway:latest

                  imagePullPolicy: Never
                  # resources:
                  #     limits:
                  #         memory: "128Mi"
                  #         cpu: "500m"
                  ports:
                      - containerPort: 8080
                  envFrom:
                      - configMapRef:
                            name: gateway-configmap
