.footer {
    /* height: 50vh; */
    /* background-color: var(--background); */
    background-image: linear-gradient(
        180deg,
        hsl(216deg 28% 7%) 35%,
        hsl(214deg 28% 15%) 69%,
        hsl(217deg 27% 23%) 79%,
        hsl(216deg 28% 30%) 85%,
        hsl(216deg 28% 38%) 90%,
        hsl(216deg 28% 46%) 93%,
        hsl(216deg 27% 54%) 95%,
        hsl(216deg 28% 61%) 96%,
        hsl(215deg 28% 69%) 98%,
        hsl(216deg 28% 77%) 99%,
        hsl(217deg 27% 85%) 99%,
        hsl(218deg 28% 92%) 100%,
        hsl(0deg 0% 100%) 100%
    );
}

.footer-hero {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-text-box {
    font-weight: bolder;
    font-size: 12rem;
    display: inline-block;
    animation: noisePulse infinite reverse;
    /* animation-duration: 2s; */
    opacity: 0.4;
    /* filter: brightness(2); */
}

.footer-link {
    display: flex;
    justify-content: center;
    color: black;
    opacity: 0.5;
}

@keyframes noisePulse {
    0% {
        color: #1f2933;
    }
    13% {
        color: #263241;
    }
    27% {
        color: #1b2530;
    }
    41% {
        color: #2e3a4b;
    }
    58% {
        color: #22303d;
    }
    76% {
        color: #334155;
    }
    100% {
        color: #1f2933;
    }
}

/* M */
.footer-hero > :nth-child(1) {
    animation-duration: 5.5s;
}
/* I */
.footer-hero > :nth-child(2) {
    animation-duration: 4.6s;
}

/* C */
.footer-hero > :nth-child(3) {
    animation-duration: 5s;
}
/* R */
.footer-hero > :nth-child(4) {
    animation-duration: 4.3s;
}
/* O */
.footer-hero > :nth-child(5) {
    animation-duration: 4.9s;
}
/* L */
.footer-hero > :nth-child(6) {
    animation-duration: 5.1s;
}
/* O */
.footer-hero > :nth-child(7) {
    animation-duration: 5.2s;
}
/* G */
.footer-hero > :nth-child(8) {
    animation-duration: 4.8s;
}
/* S */
.footer-hero > :nth-child(9) {
    animation-duration: 5.4s;
}
