.notification-modal.disappear {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.notification-modal.appear {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.notification-disabler.appear {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.notification-disabler.disappear {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.notification-arrow {
    position: absolute;
    width: 50px;
    height: 50px;
    top: -25px;
    left: calc(50% - 25px);
    transform: rotate(45deg);
    z-index: 99;
    /* background-color: white; */
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.1px);
    -webkit-backdrop-filter: blur(10.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.notification-wrapper {
    position: relative;
    display: inline-block;
}

.notification-modal {
    display: block;
    position: absolute;
    top: 180%;
    left: -80%;
    min-height: 200px;
    transition: all 0.1s;
}

.notification-container {
    box-sizing: border-box;
    position: relative;
    height: 50vh;
    width: 300px;
    z-index: 100;
    padding: 8px;
    overflow: scroll;
    /* background-color: white; */

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.notification-disabler {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
}
