.home-page {
    display: flex;
    width: 100%;
    min-height: 100vh;
    background-color: var(--background);
}

.home-left {
    width: 30%;
}

.home-center {
    width: 100%;
}

.home-right {
    width: 30%;
}
