server:
    port: ${SERVER_PORT:8080}

logging:
    level:
        org.springframework.cloud.gateway: DEBUG
        reactor.netty.http.client: DEBUG

spring:
    application:
        name: api-gateway

    cloud:
        gateway:
            routes:
                - id: user-validate
                  predicates:
                      - Path=/auth/*/*/*/validate
                  uri: http://auth-service:8080
                  filters:
                      - StripPrefix=1
                      - JwtAuthFilter

                - id: user-protected
                  predicates:
                      - Path=/auth/*/*/*/*
                      - Method=GET
                  uri: http://auth-service:8080
                  filters:
                      - StripPrefix=1
                      - JwtAuthFilter

                - id: user-public
                  predicates:
                      - Path=/auth/**
                  uri: http://auth-service:8080
                  filters:
                      - StripPrefix=1

                  # =================Article
                - id: article-public
                  predicates:
                      - Path=/article/**
                      - Method=GET
                  uri: http://article-service:8080
                  filters:
                      - StripPrefix=1

                - id: article-protected
                  predicates:
                      - Path=/article/**
                      - Method=POST,DELETE
                  uri: http://article-service:8080
                  filters:
                      - StripPrefix=1
                      - JwtAuthFilter

                  #                        - id: notification-protected
                  #                           predicates:
                  #                               - Path=/notification/**
                  #                           uri: http://notification-service
                  #                           filters:
                  #                               - JwtAuthFilter

                  # - id: notification-ws
                  #   predicates:
                  #       - Path=/ws/notification/**
                  # =============== NOTIFICATION ==============
                - id: notification-protected
                  predicates:
                      - Path=/notification/api/**
                  uri: http://notification-service:8080
                  filters:
                      - JwtAuthFilter
                      - StripPrefix=1

                - id: notification-public
                  predicates:
                      - Path=/notification/**
                  uri: http://notification-service:8080
                  filters:
                      - StripPrefix=1

                - id: notification-ws
                  uri: ws://notification-service:8080
                  predicates:
                      - Path=/ws/**

                - id: notification-ws-http
                  uri: http://notification-service:8080
                  predicates:
                      - Path=/ws/**
                  filters:
                      - StripPrefix=0

                  # - id: article-public
                  #   predicates:
                  #       - Path=/article/**
                  #       - Method=GET
                  #   uri: http://article-service

                  # - id: article-protected
                  #   predicates:
                  #       - Path=/article/**
                  #       - Method=POST,DELETE
                  #   uri: http://article-service
                  #   filters:
                  #       - JwtAuthFilter
