server:
    port: ${SERVER_PORT:8080}

spring:
    application:
        name: api-gateway

    cloud:
        consul:
            host: ${CONSUL_HOST}
            port: ${CONSUL_PORT}

        gateway:
            server:
                webflux:
                    discovery:
                        locator:
                            lower-case-service-id: true

                    routes:
                        - id: user-protected
                          predicates:
                              - Path=/auth/*/*/*/validate
                          uri: lb://auth
                          filters:
                              - StripPrefix=1
                              - JwtAuthFilter

                        - id: user-protected
                          predicates:
                              - Path=/auth/*/*/*/*
                              - Method=GET
                          uri: lb://auth
                          filters:
                              - StripPrefix=1
                              - JwtAuthFilter

                        - id: user-public
                          predicates:
                              - Path=/auth/**
                          uri: lb://auth
                          filters:
                              - StripPrefix=1

                        # =================Article
                        - id: article-public
                          predicates:
                              - Path=/article/**
                              - Method=GET
                          uri: lb://article
                          filters:
                              - StripPrefix=1

                        - id: article-protected
                          predicates:
                              - Path=/article/**
                              - Method=POST,DELETE
                          uri: lb://article
                          filters:
                              - StripPrefix=1
                              - JwtAuthFilter

                        #                        - id: notification-protected
                        #                           predicates:
                        #                               - Path=/notification/**
                        #                           uri: lb://notification
                        #                           filters:
                        #                               - JwtAuthFilter

                        # - id: notification-ws
                        #   predicates:
                        #       - Path=/ws/notification/**
                        # =============== NOTIFICATION ==============
                        - id: notification-protected
                          predicates:
                              - Path=/notification/**
                          uri: lb://notification
                          filters:
                              - JwtAuthFilter
                              - StripPrefix=1

                        - id: notification-ws
                          uri: lb:ws://notification
                          predicates:
                              - Path=/ws/**

                        - id: notification-ws-http
                          uri: lb://notification
                          predicates:
                              - Path=/ws/**
                          filters:
                              - StripPrefix=0

                        # - id: article-public
                        #   predicates:
                        #       - Path=/article/**
                        #       - Method=GET
                        #   uri: lb://article

                        # - id: article-protected
                        #   predicates:
                        #       - Path=/article/**
                        #       - Method=POST,DELETE
                        #   uri: lb://article
                        #   filters:
                        #       - JwtAuthFilter
