server:
    port: ${SERVER_PORT:8080}

management:
    endpoints:
        web:
            exposure:
                include: gateway,health,info
    endpoint:
        gateway:
            access: UNRESTRICTED

spring:
    application:
        name: api-gateway

        # cloud:
        #     consul:
        #         host: localhost
        #         port: 8500
        #         discovery:
        #             register: true

        gateway:
            server:
                webflux:
                    discovery:
                        locator:
                            lower-case-service-id: true

                    routes:
                        - id: user-public
                          predicates:
                              - Path=/auth/
                          uri: lb://auth

                        - id: user-protected
                          predicates:
                              - Path=/auth/me
                          uri: lb://auth
                          filters:
                              - JwtAuthFilter

                        # - id: article-public
                        #   predicates:
                        #       - Path=/article/**
                        #       - Method=GET
                        #   uri: lb://article

                        # - id: article-protected
                        #   predicates:
                        #       - Path=/article/**
                        #       - Method=POST,DELETE
                        #   uri: lb://article
                        #   filters:
                        #       - JwtAuthFilter

                        # - id: notification-protected
                        #   predicates:
                        #       - Path=/notification/**
                        #   uri: lb://notification
                        #   filters:
                        #       - JwtAuthFilter

                        # - id: notification-ws
                        #   predicates:
                        #       - Path=/ws/notification/**
