* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}

body {
    margin: 0;
    color: var(--primary-text);
}

.outline {
    /* border: 1px solid black; */
}

.btn {
    margin: 8px;
    cursor: pointer;

    background-color: var(--button);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 6px 2px 6px;
    border-radius: 4px;
}

.btn:hover {
    background-color: #3f4f66;
}

.page {
    margin-top: 50px;
}

.layout {
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.layout-left {
    width: 30%;
}

.layout-center {
    width: 100%;
}

.layout-right {
    width: 30%;
}
