.create-article-page {
    background-color: var(--background);
}

.article-desc-input {
    display: flex;
    flex-direction: column;
}

.article-desc-input > textarea {
    background-color: var(--input);
    outline: none;
    border: 2px solid var(--border);
    border-radius: 8px;
    padding: 8px;
    color: var(--secondary-text);
    min-height: 50vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}

.article-submit-btn > .btn {
    font-size: 1rem;
    padding: 8px;
}

.create-article {
    padding: 32px;
    background-color: var(--background-second);
    margin-top: 50px;
}
