.article {
    padding: 32px;
    margin-top: 32px;

    background-color: var(--background-second);
    border-radius: 4px;
}

.article-title {
    font-size: 3rem;
    text-transform: capitalize;
}

.article-body {
    padding: 8px;
    font-size: 1rem;
}

.article-details {
    display: flex;
}
